name: DEPLOY TO STAGING
on:
  push:
    branches:
    - main
    - master

jobs:
  linting:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:focal
      #credentials:
      #  username: UslnMainCR
      #  password: ${{ secrets.DOCKER_PASSWORD }}
    steps:
    - run: echo "Linting"
    - uses: actions/checkout@v2
    - run: scripts/kind.sh
    - run: kubectl cluster-info --context kind-chart-testing
    - run: kubectl get pods -A
  init-testing:
    runs-on: ubuntu-latest
    steps:
    - run: echo "init testing"
  kind:
    runs-on: ubuntu-latest
    needs: [linting, init-testing]
    steps:
    - run: echo "Deploy to KinD"
  initegration-testing:
    runs-on: ubuntu-latest
    needs: kind
    steps:
    - run: echo "initegration testing on KinD"
  deploy:
    runs-on: ubuntu-latest
    needs: [initegration-testing]
    steps:
    - run: echo "DEPLOY TO STAGING"
  test-deployment:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - run: echo "initegration testing-staging"
