name: DEPLOY TO ENV
on: 
  push:
    branches-ignore:
    - main
    - master

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - run: echo "Linting"
  init-testing:
    runs-on: ubuntu-latest
    steps:
    - run: echo "init testing"
  kind:
    runs-on: ubuntu-latest
    needs: [linting, init-testing]
    steps:
    - run: echo "Deploy to KinD"
  initegration-testing:
    runs-on: ubuntu-latest
    needs: kind
    steps:
    - run: echo "initegration testing"
  deploy:
    runs-on: ubuntu-latest
    needs: [initegration-testing]
    steps:
    - run: echo "Deploy to ${GITHUB_REF##*/}"
  test-deployment:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - run: echo "initegration testing on ${GITHUB_REF##*/}"

