name: DEPLOY TO STAGING
on:
  push:
    branches:
    - main
    - master

jobs:
  linting:
    runs-on: ubuntu-latest
    container:
      image: uslnmaincr.azurecr.io/ci-common:0.0.2
      credentials:
        username: UslnMainCR
        password: ${{ secrets.DOCKER_PASSWORD }}
    steps:
    - run: echo "Linting"
    - run: kind create cluster
    - run: cat /root/.kube
    - run: kubectl cluster-info dump
    - run: kubectl cluster-info --context kind-kind
  init-testing:
    runs-on: ubuntu-latest
    steps:
    - run: echo "init testing"
  kind:
    runs-on: ubuntu-latest
    needs: [linting, init-testing]
    steps:
    - run: echo "Deploy to KinD"
  initegration-testing:
    runs-on: ubuntu-latest
    needs: kind
    steps:
    - run: echo "initegration testing on KinD"
  deploy:
    runs-on: ubuntu-latest
    needs: [initegration-testing]
    steps:
    - run: echo "DEPLOY TO STAGING"
  test-deployment:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - run: echo "initegration testing-staging"
