name: RELEASE
on:
  release:
    types: [released]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - run: echo "Linting"
  init-testing:
    runs-on: ubuntu-latest
    steps:
    - run: echo "init testing"
  kind:
    runs-on: ubuntu-latest
    needs: [linting, init-testing]
    steps:
    - run: echo "Deploy to KinD"
  initegration-testing:
    runs-on: ubuntu-latest
    needs: kind
    steps:
    - run: echo "initegration testing on KinD"
  release-job:
    runs-on: ubuntu-latest
    needs: [deploy-kind]
    steps:
    - run: echo "RELEASE"